@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-icons {
  color: #555;
  cursor: pointer;
  font-size: 40px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.icon-container {
  position: absolute;
  right: 50px;
  top: 30px;  
}